.box-social-links{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .box-social-links a {
    margin: 12px;
    font-size: 24px;
  }